<ion-view view-title="Account">
  <ion-content>
<div id="footer">
  <div class="row" style="height:15%">
    <div class="col col-33"><a class="button button-large button-dark icon ion-camera customiconsize" style="width:100%; height:100%"></a></div>
    <div class="col col-33"><a class="button button-large button-balanced icon ion-ios-checkmark-outline" style="width:100%; height:100%"></a></div>
    <div class="col col-33"><a class="button button-large button-assertive icon ion-ios-close-outline" style="width:100%; height:100%"></a></div>
  </div>
  <div class="row" style="height:15%">
    <div class="col col-33"><a class="button button-large button-energized icon ion-clipboard" style="width:100%; height:100%"></a></div>
    <div class="col col-33"><a class="button button-large button-royal icon ion-social-dropbox" style="width:100%; height:100%"></a></div>
    <div class="col col-33"><a class="button button-large button-calm icon ion-ios-flag" style="width:100%; height:100%"></a></div>
  </div>
  <div class="row" style="height:15%">
    <div class="col col-33"><a class="button button-large button-stable icon ion-android-arrow-back" style="width:100%; height:100%"></a></div>
    <div class="col col-33"><a class="button button-large button-stable icon ion-android-call" style="width:100%; height:100%"></a></div>
    <div class="col col-33"><a class="button button-large button-stable icon ion-map" style="width:100%; height:100%"></a></div>
  </div>
</div>

  </ion-content>
</ion-view>
